<div id="comment-<%= comment.id %>" class="comment-box">
  <p>
    <strong> <%= comment.commenter %> </strong>
  </p>

  <p>
    <%= comment.body.html_safe %>
  </p>

  <p>
    <%= link_to 'delete', [comment.post, comment],
                                   method: :delete,
                                   data: { confirm: 'Delete comment?' } %>
  </p>
</div>