#log-user-i { color: black; }

#log-pass-i { color: black; }

.form-width {
  max-width: 300px;
  margin: 0px auto;
  margin-bottom: 100px;
  margin-top: 15px;
}

.login-title {
  margin-top: 85px;
  color: black;
}
