@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

/* UTILITY */
.debug {
  border: 1px solid red;
}
/* END OF UTILITY */

footer {
  min-height: 100px;
}

a:hover { text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: black;
}

p {
  font-weight: 400;
  font-size: 1em;
  color: black;
}

.glyphicon {
  font-size: 1.25em;
}

/* CLASSES FOR EACH GRID */
.grid-container {
  margin: 0 auto;
}
.date {
  font-weight: 300;
  color: #9EABB3;
}

.block {
  background-color: white;
  color: white;
  display: inline-block;
  width: 200px;
  padding: 1em;
  margin: .25em;
}

a.read-lnk {
  text-decoration: none;
  margin-top: 5px;
  padding: 5px;
  font-size: 12px;
  color: white;
  border: 1px solid #55ACEE;
  background-color: #55ACEE;
}

a.read-lnk:hover{
  background-color: black;
  border: 1px solid #55ACEF;
  color: #55ACEF;
}

/* END OF GRID */

/* HEADER CSS */
.notice {
  color: red;
}

.title {
  color: #55ACEE;
  font-size: 48px;
}
/* END OF HEADER CSS */

/* FOOTER CSS */
.social-lnks {
  list-style: none;
  margin: 5px;
  padding: 0px;
}
.social-lnks li {
  display: inline;
  list-style-type: none;
  padding: 3px;
}

/* icons that will interchange pictures on hover */
.con-em img:last-child {
  display: none;
}
.con-em:hover img:first-child {
  display: none;
}
.con-em:hover img:last-child {
  display: inline-block;
}

.con-in img:last-child {
  display: none;
}
.con-in:hover img:first-child {
  display: none;
}
.con-in:hover img:last-child {
  display: inline-block;
}

.con-t img:last-child {
  display: none;
}
.con-t:hover img:first-child {
  display: none;
}
.con-t:hover img:last-child {
  display: inline-block;
}

.con-gh img:last-child {
  display: none;
}
.con-gh:hover img:first-child {
  display: none;
}
.con-gh:hover img:last-child {
  display: inline-block;
}
/* END OF FOOTER */
