@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

/* UTILITY */
.debug {
  border: 1px solid red;
}
/* END OF UTILITY */

body {
  background-color: #F4F4F4
}

a:hover { text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: black;
}

p {
  font-weight: 400;
  font-size: 1em;
  color: black;
}

footer {
  min-height: 100px;
  background-color: black;
}

.glyphicon {
  font-size: 1.25em;
  color: #20FF37;
}

.glyphicon:hover {
  color: black;
}


/* CLASSES FOR EACH GRID */
.grid-container {
  margin: 0 auto;
}

.date {
  font-weight: 300;
  color: #9EABB3;
}

.block {
  background-color: white;
  color: white;
  display: inline-block;
  width: 200px;
  padding: 1em;
  margin: .25em;
}

a.read-lnk {
  text-decoration: none;
  margin-top: 5px;
  padding: 5px;
  font-size: 12px;
  transition: background-color 0.5s ease;
  border: 2px solid black;
  background-color: white;
  color: black;
}

a.read-lnk:hover{
  background-color: black;
  color: white;
}

/* END OF GRID */

/* HEADER CSS */
.notice {
  color: red;
}

.title {
  color: black;
  font-size: 48px;
}

.title:hover {
  color: black;
}
/* END OF HEADER CSS */

/* FOOTER CSS */
.foot-content {
  color: #999999;
  font-size: .813em;
}

.admin-cntrl:hover {
  color: white;
}

.social-lnks {
  list-style: none;
  margin: 5px;
  padding: 0px;
}
.social-lnks li {
  display: inline;
  list-style-type: none;
  padding: 3px;
}

/* icons that will interchange pictures on hover */
.icon-social img:last-child {
  display: none;
}
.icon-social:hover img:first-child {
  display: none;
}
.icon-social:hover img:last-child {
  display: inline-block;
}

/* END OF FOOTER */
