<!DOCTYPE html>
<html>
<head>
  <title>Myblog</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
